@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	/*text-align: center;  */
	/* background-size: cover;
	background-image: url('bg.jpg');
	background-size: cover;
	background-position: center; */
}

/*  /* Align photo to the right side */
.navbar-brand img {
	width: 50px; /* Adjust the width of your photo */
	height: 50px; /* Adjust the height of your photo */
	border-radius: 10%; 
}

section{
    width: 100%;
}
section>div{
    width: 80%;
    margin: auto;
}
#header nav{  
        background-color: rgb(81 3 239);
    
    font-weight: bold;
}
#header {
  /*   position: fixed; */
    top: 10px;
	z-index: 10;
}
#header a img{
    justify-content: space-between;
    margin-left: 55px;
  
    /* padding-left: auto; */
}
nav #hov a:hover {
	background-color: white;
	border-radius: 5%;
	color:rgb(81 3 239);
	
	/* justify-content:space-between;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 6px 0 10px 10px; */
	
}


/*navbar css*/
h1 {
	margin:0;
	/* background: rgb(2,0,36); */
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(64,64,151,1) 83%);
	text-align: center;
}



/* css for faq */
.faq-section {
	background: #fdfdfd;
	min-height: 50vh;
	padding: 5vh;
}

.faq-title h2 {
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
	font-weight: 600;
	line-height: 1;
}

.faq-title h2::before {
	content: "";
	position: absolute;
	left: 50%;
	width: 60px;
	height: 2px;
	background: #E91E63;
	bottom: -25px;
	margin-left: -30px;
}

.faq-title p {
	padding: 0 150px;
	margin-bottom: 5px;
}

.faq {
	background: #FFFFFF;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
	border-radius: 4px;
}

.faq .card {
	border: none;
	background: none;
	border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
	padding: 0px;
	border: none;
	background: none;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
	background: rgba(233, 30, 99, 0.1);
	padding-left: 10px;
}

.faq .card .card-header .faq-title {
	width: 100%;
	text-align: left;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1px;
	color: #3B566E;
	text-decoration: none !important;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 14px;
	float: left;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	background: #E91E63;
	color: #fff;
	font-size: 12px;
	margin-right: 20px;
}

.faq .card .card-body {
	padding: 20px;
	padding-left: 25px;
	padding-bottom: 0px;
	font-weight: 400;
	font-size: 16px;
	color: #6F8BA4;
	line-height: 28px;
	letter-spacing: 1px;
	border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
	margin-bottom: 4px;
}

@media ( max-width : 991px) {
	.faq {
		margin-bottom: 10px;
	}
	.faq .card .card-header .faq-title {
		line-height: 26px;
		margin-top: 5px;
	}
}
/* css for faq */

/*Preloader style*/
#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgb(255, 255, 255) url('/image/preloder.gif') no-repeat center;
	z-index: 99999;
}

/*Preloader style*/


/*FOOTER*/
.round-btn {
	display: inline;
	height: 40px;
	width: 40px;
	background: #fff;
	border-radius: 50%;
	float: left;
	margin: 15px 8px;
	box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);
	border: 1px solid;
}

.round-btn a {
	display: block !important;
	padding: 7px 12px;
	font-size: 18px;
	border-radius: 50%;
}

.round-btn .icon {
	padding: 3px;
}

.round-btn .icon img {
	height: 24px;
	width: 32px;
	margin-top: 6px;
}

.btn-facebook a {
	color: #3b5998;
	padding: 8px 13px;
}

.btn-linkedin a {
	color: #007bb6;
}

.btn-github a {
	color: #1c9deb;
}

.btn-instagram a {
	color: #dd3f5c;
}

.btn-whatsapp a {
	color: #155E54;
}

.btn-envelop a {
	color: #D6403A;
	font-size: 15px;
	padding: 9px 12px;
}

.standard_header .standard_social_links {
	margin-left: 1rem;
}

.footer-wrap {
	padding-top: 43px;
	background-size: cover;
}

.footer-wrap h3 {
	color: #ff7f00;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.footer-wrap p {
	font-size: 15px;
	line-height: 24px;
	color: #ffffff;
	margin-top: 15px;
}

.footer-wrap p a {
	color: #fff;
	text-decoration: underline;
	font-style: italic;
}

.footer-wrap p a:hover {
	text-decoration: none;
	color: #ff7800;
}

.footer-links li a {
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
}

.footer-links li:before {
	content: "\f105";
	font-family: 'FontAwesome';
	padding-right: 10px;
	color: #ccc;
}

.footer-category li a {
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
}

.footer-category li:before {
	content: "\f105";
	font-family: 'FontAwesome';
	padding-right: 10px;
	color: #b3b3b3;
}

.fa-phone:before {
	content: "\f095";
}

.info a {
	color: #b3b3b3;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
}

.fa-fax:before {
	content: "\f1ac";
}

.copyright {
	
	font-sirgb(255, 255, 255)15px;
	color: #ccc;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 15px;
	 background-color: rgb(48, 63, 164);
	background:  rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(64,64,151,1) 83%;
	border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

footer .first_class {
	padding-bottom: 20px;
	border-bottom: 1px solid #444;
}

footer .first_class p, footer .first_class h3 {
	margin: 0 0;
}

footer {
	background: #333;
}

footer .newsletter input[type="text"] {
	width: 100%;
	background: #fff;
	color: #333;
	border: 1px solid #222;
	padding: 14px 20px;
	border-radius: 50px;
	margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
	background: #fff;
	/* position: absolute;
	
	border: none;
	bottom: -118px; */
	position: relative;
	left: 350px;
	bottom: 40px;
	font-size: 17px;
	color: #333;
}

footer .second_class_bdr {
	padding-top: 25px;
	border-top: 1px solid #222;
}

footer .btn-facebook a {
	padding: 6px 14px !important;
}

footer .btn-youtube a {
	color: #D6403A;
	font-size: 15px;
	padding: 12px 12px;
}

footer .round-btn a {
	padding: 6px 12px;
}

footer .round-btn {
	box-shadow: 2px 2px 5px 0px #222 !important;
}

footer .round-btn {
	margin: 15px 4px;
}

footer dl, ol, ul {
	padding-left: 5px;
}

footer li {
	list-style: none;
}

@media ( max-width :768px) {
	.footer-wrap h3 {
		margin-top: 27px;
	}
	footer .round-btn {
		margin: 15px 4px;
	}
}

@media ( max-width :320px) {
	.copyright {
		font-size: 15px;
	}
}
/*FOOTER*/

/*css for contact section */
.contact{
	padding:40px;
	background: #77A1D3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.contact h2 {
	text-align: center;
	
}
.contact .container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contact .container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.contact .content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.contact .content .left-side .details{
  margin: 14px;
  text-align: center;
}
.contact .content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.contact .content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.contact .content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.contact .container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.contact .content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.contact .right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.contact .right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.contact .right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.contact .right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.contact .right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .button input[type="button"]:hover{
  background: #5029bc;
}
@media (max-width: 950px) {
  .contact .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .contact .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .contact .container .content{
    flex-direction: column-reverse;
  }
 .contact .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .contact .container .content .left-side::before{
   display: none;
 }
 .contact .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
.topnav-right a{
	color:white;
}
/*css for contact section */