:root{
    --main-color:#d3ad7f;
    --black:#111110;
    --bg:#120b06;
    --border:.1rem solid rgba(255,255,255,.3);
}


*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 2rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}


.button{
    margin-top: 1rem;
    display: inline-block;
    padding:.6rem 2rem;
    font-size: 1rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.button:hover{
    letter-spacing:0 rem;
}


.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap:1.0rem; 
}

.blogs .box-container .box{
    border:var(--border);   
    background-color:white; 
}

.blogs .box-container .box .image{
    height: 20rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:1.2rem;
     color:#fff;
}
.blogs .box-container .box .content p{
   
     color:#1E2A29;
}

.blogs .box-container .box .content .title{
    font-size: 1rem;
    line-height: 1;
    color:#fff;
}

/*css for about us section */

/* .about{
background: #005C97;  fallback for old browsers
background: -webkit-linear-gradient(to right, #363795, #005C97);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #363795, #005C97); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

} */
#aboutUs {
	display:inline-block;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#aboutUs img {
    width: 80%;
    margin-top: 140px;
    border-radius: 10px;
}

.content {
    margin: 20px 0;
}

.content h2 {
    font-size: 50px;
    color: #ffca70;
    text-align: center;
}

.content h4 {
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
}

.description {
    color: #fff;
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.btn {
    font-weight: bold;
    border: 2px solid #ffca70;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.4s;
    background-color: #ffca70;
}

.btn:hover {
    border: 2px solid #ffca70;
    background: transparent;
    color: #ffca70;
}

@media screen and (max-width: 790px) {
    #aboutUs img {
        width: 80%;
    }

    #aboutUs {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

/*css for about us section */


